body{
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
  line-height: 30px;
}

header{
  background-color: black;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

h1, h2 {
  font-family: 'Source Code Pro', monospace;
}

h2 {
  font-size: 35px;
}

header h1 {
  color: white;
  font-size: 50px;
}

header img {
  border-radius: 150px;
  width: 300px;
  border: 8px solid #483a94
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 20px;
}

a {
  color: black;
}

a:hover {
  color: #483a94;
}

footer {
  color: white;
  background-color: black;
  text-align: center;
  font-size: 20px;
}

footer p {
  margin: 0;
}